.App {
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family:Verdana;
}

.App-logo {
  -webkit-animation: App-logo-spin-main infinite 1s alternate ease-in-out;
  -moz-animation: App-logo-spin-main infinite 1s alternate ease-in-out;
  -o-animation: App-logo-spin-main infinite 1s alternate ease-in-out;
  animation: App-logo-spin-main infinite 1s alternate ease-in-out;
  height: 80px;
  padding: 25px 0px 25px 0px;
}

.App-header {
  background-color: #222;
  height: auto;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin-main {
  from { transform: rotate(-5deg) }
  to { transform: rotate(5deg) }
}

@keyframes App-logo-spin-loading {
  from { transform: scale(0.8) rotate(0deg); }
  to { transform: scale(0.5) rotate(360deg); }
}

.custom-select {
  position: relative;
  font-family: Verdana;
  font-size: 14px;
  padding: 10px 10px;
  margin: 20px 10px;
  /* background-color: #6db6ff; */
  /* color: white; */
  -moz-border-radius :9px;
	-webkit-border-radius: 9px;
	border-radius: 3px;
  /* border: 1px solid #337bc4; */
  border: 1px solid gray;
  width: 300px
}

select:focus {
  outline: 0;
}

.myButton {
	background-color: #47a3ff;
	-moz-border-radius :9px;
	-webkit-border-radius: 9px;
	border-radius: 9px;
	border: 1px solid #337bc4;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Verdana;
	font-size: 18px;
  padding: 10px 20px;
  width: 205px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #528ecc;
}

.myButton:hover {
	background-color:#378de5;
}

.myButton:active {
	position:relative;
	top:1px;
}

.selectButtons {
  width:100%;
  text-align: center;
}

.innerButton {
  margin: 0px 5px 10px;
  display: inline-block;
}

button:focus {
  outline: 0;
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.disabledButton {
  opacity: 0.6;
}

h3 {
  font-size: 20px;
}

h4 {
  margin: 5px 0 10px 0;
}

.summary {
  text-align: left;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  background-color: rgb(250, 250, 250);
  padding: 5px 60px 5px 60px;
  -moz-border-radius:9px;
	-webkit-border-radius:9px;
	border-radius:9px;
	border:1px solid #dfdfdf;
}

.analysis {
  margin-right: 10%;
  margin-left: 10%;
  color: rgb(44, 44, 44);
}

hr {
  display: block;
  height: 1px;
  border: 0;
  margin: 2em;
  padding: 0;
  background-color: gray;
}

.chart-container {
  vertical-align: middle;
  margin: 0 auto;
  max-width: 800px;
}

.chart {
  vertical-align: middle;
  margin: 0 auto;
  margin-bottom: 50px;
  height: 500px;
  background-color: rgb(250, 250, 250);
  padding: 20px;
  -moz-border-radius:9px;
	-webkit-border-radius:9px;
	border-radius:9px;
	border:1px solid #dfdfdf;
}

.disabledDiv {
  display: none;
}
